@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  margin-right: 250px;
  font-size: 2em;
  color: #359381;
  pointer-events: none;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.2em;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  top: 45%;
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.sec {
  position: relative;
  background: #003329;
  margin-top: 100px;
}

.sec h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 20px;
}
.sec p {
  font-size: 1em;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  header {
    display: none;
  }
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41vh;
  }

  #text {
    top: 45%;
    position: absolute;
    font-size: 2.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  #plant {
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  #hill1,
  #hill2,
  #hill3,
  #hill4,
  #hill5,
  #tree {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    pointer-events: none;
    scale: 2;
  }

  #hill5 {
    transform: translateX(-50px);
  }

  #leaf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    scale: 2;
    transform: translateX(-90px);
  }

  .sec {
    position: relative;
    background: #003329;
    margin: 86px 0;
  }
  .sec h2 {
    font-size: 2.2em;
    color: #fff;
    margin-bottom: 20px;
  }
  .sec p {
    font-size: 1em;
    color: #fff;
  }
}
@media only screen and (width: 412px) {
  .sec {
    position: relative;
    background: #003329;
    margin: 69px 0;
  }
}

@media only screen and (width: 414px) {
  .sec {
    position: relative;
    background: #003329;
    margin: 76px 0;
  }
}
